*.tgz
.npmrc
.DS_Store
/.llm
/.playwright-mcp
/.archive
/dist
/dist_v2
/node_modules
/coverage
/test-results
/test-reports
/playwright-report
/tests/fixtures/tracelog.js
/playground/tracelog.js
/coverage-integration